beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.1
distlib==0.3.7
filelock==3.12.4
googlesearch-python==1.2.3
idna==3.4
lxml==4.9.3
Pillow==9.5.0
platformdirs==3.11.0
python-pptx==0.6.22
requests==2.31.0
soupsieve==2.5
urllib3==2.0.7
virtualenv==20.24.6
XlsxWriter==3.1.9
